:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card {
  padding: 2em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* responsive */
.left{
  width: 50%;
  float: left;
  padding: 0.2em;
  /* background-image: url("./assets//images/agency-img.jpg"); */
}
.right{
  width: 50%;
  float: right;
  padding: 0.2em;

}
/* .containerblock{
  border: 2px solid#12adf0;
  padding: auto;
} */
.image{
  width: 30%;
  padding: 0%;
  height: 100%;

}
.backImage{
  background-image: url("./assets//images/agency-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 max-height: fit-content;
 height: 300px;
}
.sidebackImage{
  background-image: url("./assets//images/agency-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 max-height: fit-content;
 height: 300px;
}
.sxleft{
  width: 20%;
  padding: 0.2em;
  float: left;
  }
  .xleft{
    width: 33.3%;
    float: left;
    padding: 0.4em;
    }
    .placeholder{
      border-radius: 12px;
    }
    /* .icon{
      width: 12px;
      height: 12px;
      text-align: center;
    } */
    body {
      margin: 0;
      display: flex;
      place-items: center;
      min-width: 320px;
      min-height: 100vh;
    }
    
    button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #ece3e3;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    .button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #2048da;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    .btn {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #12adf0;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    .block{
      border-radius: 12px;
      padding: auto;
      border-top-left-radius: 0.5em;
      border: 3px solid #1a1a1a;
    }
    .links{
      display: inline;
      display: flex;
    }

    .box{
      border: 1px solid black;
      padding: 2px;
      /* background-color: rgb(238, 243, 243); */
      border-radius: 8px;
  }

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 162px) {
  *{
    width: 100%;
    padding: auto;
    margin: 0;
  }

}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
.App-header{
  width: 100%;
}
/* home */
.image{
  width: 100%;
  max-height: 300px;
}
.map{
  width: 100%;
}
.invisible{
  visibility: hidden;
}

.container {
  width: 100%;
  padding: auto;
}
.left{
width: 100%;
padding: 0.3em;
}
.sxleft{
width: 100%;
padding: 0.3em;
}
.sleft{
width: 100%;
padding: 0.3em;
}
.xleft{
width: 100%;
padding: 0.3em;
}
.column{
width: 100%;
}




}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.App-header{
  width: 100%;
}
*{

width: 100%;
padding: 0;
margin: 0;
}
/* */

}


/* responsive */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;